.profile {
	a {
		font-size: 14px;
	}

	img.avatar {
	  border: 1px solid #eee;
	}

	.only-bottom-margin {
	  margin-top: 0px;
	}

	.activity-mini {
	  padding-right: 15px;
	  float: left;
	}

	.username-line {
		margin-bottom: 10px;

		.username {
			font-weight: 700;
			font-size: 20px;
		}
	}

	.mute {

	}

	.profile-header {
		margin-top: 15px;
	}

	.actions {

	}

	.post-list, .preferences {
		border-top: 1px solid #DDD;
		margin-top: 25px;
	}
	.post-list {
		height: 300px;
	}
}